:root {
  --primary: #0055ff; /* Blue */
  --primary-hover: #1c4ecc; /* Darker blue */
  --secondary: #ffffff; /* White */
  --secondary-hover: #e0e0e0; /* Light gray */
  --danger: #e74c3c; /* Red */
  --danger-hover: #c0392b; /* Darker red */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  gap: 100px; /* Space between buttons */
  margin-top: 10px; /* Space between buttons and other content */
  width: 60%; /* Ensure the wrapper takes full width of the container */
  position: relative;
  right: 120px;
  top: -90px;
}

.btn {
  padding: 10px 22px;
  border-radius: 10px;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s ease; /* Smooth transition */
  text-align: center; /* Ensure text is centered */
  text-decoration: none; /* Remove underline from links */
  position: relative; /* Required for the sliding effect */
  overflow: hidden; /* Hide overflow during animation */
  z-index: 1; /* Ensure the text is on top */
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start the slide from outside the button */
  width: 100%;
  height: 100%;
  z-index: -1; /* Behind the text */
  transition: all 0.5s ease; /* Smooth transition */
}

.btn.primary {
  background-color: var(--secondary); /* Initial background color white */
  color: var(--primary); /* Initial text color blue */
  border: 2px solid var(--primary); /* Border matching the primary color */
}

.btn.primary::before {
  background-color: var(--primary); /* Slide-in color blue */
}

.btn.primary:hover::before {
  left: 0; /* Slide in from left to right */
}

.btn.primary:hover {
  color: var(--secondary); /* Change text color to white */
}

.btn.secondary {
  background-color: var(--primary); /* Initial background color blue */
  color: var(--secondary); /* Initial text color white */
  border: 2px solid var(--primary); /* Border matching the primary color */
}

.btn.secondary::before {
  background-color: var(--secondary); /* Slide-in color white */
}

.btn.secondary:hover::before {
  left: 0; /* Slide in from left to right */
}

.btn.secondary:hover {
  color: var(--primary); /* Change text color to blue */
}
