.contact-page {
  min-height: 100vh;
  color: #fefefe;
  padding: 3rem 1rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-text {
  /* New styles for better visibility */
  color: #fff; /* White color for better contrast on dark backgrounds */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Stronger shadow for better readability */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better contrast */
  padding: 10px; /* Padding to ensure the background color covers the text */
  border-radius: 5px; /* Rounded corners for a smoother look */
  margin-top: 50px;
  margin-bottom: 2rem;
}
.contact-page .title {
  font-family: "Verdana", sans-serif;
  letter-spacing: 0.05em;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 5px 0;
  text-align: center;
}
.subtitle {
  font-size: 1.25rem;
  color: #e2e8f0;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 80px;
}
.form-section,
.info-section {
  background-color: #2d3748;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-page h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.contact-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-page input,
.contact-page textarea {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #4a5568;
  color: #e2e8f0;
  border: none;
  border-radius: 0.25rem;
}
.contact-page textarea {
  min-height: 100px;
  resize: vertical;
}

/* change the inputs placeholder color */
.contact-page input::placeholder,
.contact-page textarea::placeholder {
  color: #a0aec0;
}

.contact-page button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #5fb2e4;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-page button:hover {
  background-color: #3182ce;
}

.contact-page button:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.social-links {
  margin-top: 2rem;
}
.social-links h3 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
}
.social-icons {
  display: flex;
  gap: 1rem;
}
.social-icon {
  /* width: 1.5rem;
  height: 1.5rem; */
  font-size: 1.5rem;
  color: #a0aec0;
}
@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
  .form-section,
  .info-section {
    width: 50%;
  }
}

.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.success-message h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.success-message p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  color: #ee7070;
}

@media screen and (max-width: 768px) {
  .contact-page .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .contact-page h2 {
    font-size: 1rem;
  }
  .contact-page form {
    gap: 0.5rem;
  }
  .contact-page input,
  .contact-page textarea {
    padding: 0.25rem;
    font-size: 0.75rem;
  }
  .contact-page button {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .info-section,
  .form-section {
    padding: 1rem;
  }
  .info-item {
    gap: 0.25rem;
  }
  .icon {
    width: 1rem;
    height: 1rem;
  }
  .social-links h3 {
    font-size: 0.75rem;
  }
  .social-icon {
    font-size: 1rem;
  }
}
