body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes at least the full viewport height */
  margin: 0; /* Removes default margin */
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes at least the full viewport height */
}

main {
  flex: 1; /* Allows the main content to grow and fill available space */
}


footer {
  background: linear-gradient(
    90deg,
    rgb(28, 27, 27) 0%,
    rgb(26, 23, 23) 100%
  ); /* Dark background color */
  color: #fff; /* White text color */
  text-align: center;
  padding: 20px 10px; /* Adjust padding to increase height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 960px) {
  footer {
    padding: 10px 10px;
  }

  footer p {
    font-size: 1rem; /* Decrease font size for smaller screens */
  }
}

